body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}
main {
  padding-top: 100px; /* para que no se esconda bajo la barra superior fija */
}
.contenedor{
    display: flex;
    flex-direction: row;
}
.seccion-izquierda{
    margin-bottom: 0%;
    width: 70%;
}
.seccion-derecha{
    width: 40%;
}
.barra-superior {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(169,119,36,255);
}
.Img_Logo{
    width: 20%;
    padding-left: 70%;
}
.Logo{
    margin-top: 0%;
    color: rgb(214, 186, 140);
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    font-weight: bold;
}
.Bposicion{
    width: 130%;
    padding-left: 1%;
    padding-top: 15%;
    padding-bottom: 15%;
    position: relative;
    margin-left: 500%;
}
.Carrito{
    color: azure;
    font-size: medium;
    background-color: #42370f;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 12%;
}
div p {
    margin: 0;
    color: white;
    display: block;
}
.submenu {
    display: none;
    position: absolute;
    top: 122%;
    left: 0;
    right: -230;
    padding: 20px;
    background-color: #444;
}
.submenu div h5 {
    padding: 10px;
    color: white;
}
.submenu div h5:hover {
    background-color: #666;
}
.Img_Fondo{
    width: 100%;
}
.producto { 
    margin-bottom: 10px;
}
button { 
    margin-left: 10px; 
}
#carrito { 
    margin-top: 20px; 
}
.oculto {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
}
.animado {
    opacity: 1;
    transform: translateY(0);
}
h1{
    color:rgb(214, 186, 140);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 500%;
}
h2{
    box-shadow: 0 2px rgba(255, 222, 179, 0.753);
    padding-bottom: 2%;
    padding-left: 42%;
    color: aliceblue;
}
.IMG_Teatro{
    width: 80%;
}
.caja_entradas{
    margin-right: 5%;
    box-shadow: 0px 0px 5px 5px rgb(131, 88, 31);
}
.letras{
    line-height: 3;
    color: azure;
    background-color: rgb(117, 75, 6);
    font-size: larger;
    margin-left: 1%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
    box-shadow: 0px 0px 2px 2px white;
}
.uno{
    padding-right: 12.5%;
}
.dos{
    padding-right: 13.3%;
}
.tres{
    padding-right: 12.5%;
}
.cuatro{
    padding-right: 11.5%;
}
.cinco{
    padding-right: 10.1%;
}
.seis{
    padding-right: 11.1%;
}
.Bcarrito{
    background-color: rgb(224, 171, 101);
    padding: 2%;
    font-weight: 500;
    font-size: 83%;
    transition: transform 0.1s ease-in-out;
}
.buno{
    margin-left: 0.8%;
}
.btres{
    margin-left: 0.8%;
}
.bcuatro{
    margin-left: 0.8%;
}
.bcinco{
    margin-left: 0.8%;
}
.bseis{
    margin-left: 0.8%;
}
.Bcarrito:hover{
    box-shadow: 0px 0px 2px 2px rgb(168, 122, 49);
}
.Bcarrito:active{
    transform: scale(1.1);
}
.IMG_Final{
    width: 100%;
    margin-top: 10%;
}
.pagina-secundaria{
    display: none;
}
.carrito2{
    background-color: #444;
    box-shadow: 0px 0px 2px 2px #666;
}
.titulo-compra{
    color: azure;
    text-align: center;
    font-size: xx-large;
}
.detalle{
    text-align: center;
}
.bpagar{
    size: 20%;
}
.Final{
    color: azure;
    text-align: center;
}
.Yo{
    color: rgb(232, 162, 50);
}